body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.nav {
  width: 100%;
  height: 100px;
  color: white;
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
}

.nav h1 {
  font-family: monospace;
  font-weight: 800;
  font-size: 40px;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
  color: white;
  margin-right: 60px;
  font-size: 20px;
  font-family: monospace;
}

.nav a:hover {
  text-decoration: underline;
}

.banner {
  height: 30vh;
  width: 100%;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.banner h2 {
  font-family: monospace;
  font-size: 25px;
  flex: 1.5;
  padding-top: 20px;
}

.qin {
  width: 100%;
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#qinput {
  height: 30%;
  width: 70%;
  background-color: transparent;
  text-align: left;
  border: none;
  border-bottom: 1px solid black;
  font-size: 25px;
  padding: 10px;
  font-family: monospace;
}

#share {
  align-self: center;
  height: 30%;
  min-width: 20%;
  font-size: 20px;
  border-radius: 20px;
  color: white;
  background-color: brown;
  margin-left: 25px;
  cursor: pointer;
}

#share:hover {
  background-color: transparent;
  border: 1px solid white;
}

.main-container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.main-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.main-container h2 {
  font-family: monospace;
  font-size: 25px;
  margin: 50px;
}

.table-of-quotes {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.card {
  height: 400px;
  width: 600px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.top-section {
  flex: 0.5;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: rgb(73, 46, 14);
  background-color: white;
}

.holder {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-section span {
  color: rgb(73, 46, 14);
  font-family: monospace;
  font-size: 20px;
}

.bottom-section {
  width: 100%;
  flex: 2;
  background-color: rgb(73, 46, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
  margin-bottom: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.hold {
  width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hold p {
  flex: 2;
  width: 100%;
  font-family: monospace;
  font-size: 1rem;
  text-align: justify;
  overflow-y: scroll;
}

.hold p::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hold p {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hold span {
  align-self: flex-end;
  padding-right: 10px;
  font-family: monospace;
  font-size: 0.75rem;
}

.popup {
  width: 75%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
  border: 3px solid white;
}

.popup input {
  margin: 20px;
  width: 90%;
  min-height: 60px;
  font-size: 20px;
  font-family: monospace;
}

.popup label {
  align-self: flex-start;
  padding-left: 40px;
  padding-top: 40px;
  font-family: monospace;
  font-size: 20px;
}

.popup button {
  align-self: flex-end;
  margin-right: 80px;
  margin-bottom: 20px;
  height: 60px;
  width: 150px;
  background-color: brown;
  color: white;
  border-radius: 25px;
  cursor: pointer;
}

.popup button:hover {
  background-color: burlywood;
}

#newQuote {
  height: fit-content;
}

#todaysDate {
  font-style: italic;
}

.buttons {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: end;
}

.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%);
  width: 40px;
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@media screen and (max-width: 1000px) {
  .banner h2 {
    font-family: monospace;
    font-size: 25px;
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  .qin {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #qinput {
    height: 30%;
    width: 70%;
    background-color: transparent;
    text-align: left;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    padding: 10px;
    font-family: monospace;
  }

  #share {
    height: 30%;
    min-width: 25%;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    background-color: brown;
    margin-left: 0px;
    margin-top: 20px;
    cursor: pointer;
  }

  #share:hover {
    background-color: transparent;
    border: 1px solid white;
  }

  .table-of-quotes {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center;
  }

  .card {
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
  }

  .popup {
    width: 80%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    border: 3px solid white;
  }

  .popup input {
    margin: 20px;
    width: 90%;
    min-height: 60px;
    font-size: 20px;
    font-family: monospace;
  }

  .popup label {
    align-self: flex-start;
    padding-left: 40px;
    padding-top: 40px;
    font-family: monospace;
    font-size: 20px;
  }

  .popup button {
    align-self: flex-end;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 60px;
    width: 150px;
    background-color: brown;
    color: white;
    border-radius: 25px;
    cursor: pointer;
  }

  .popup button:hover {
    background-color: burlywood;
  }

  #newQuote {
    height: fit-content;
  }

  #todaysDate {
    font-style: italic;
  }

  .buttons {
    height: fit-content;
    width: 100%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }

  .spin::before {
    animation: 1.5s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius: 50%;
    content: "";
    height: 40px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate3d(-80%, -50%);
    width: 40px;
    will-change: transform;
  }
}
